{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">
        Tabela de Custos de Produção
    </h2>

    <table class="table table-striped table-bordered">

        <thead class="thead-dark">

            <tr>

                <th>Tipo</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Safra</th>

            </tr>

        </thead>

        <tbody>

            {% for custo in custos %}

            <tr>

                <td>{{ custo.tipo }}</td>
                <td>{{ custo.valor }}</td>
                <td>{{ custo.data }}</td>
                <td>{{ custo.safra }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}