<div class="container mt-5">

    <h2 class="mb-4">
        Tabela de Custos de Produção
    </h2>

    <table class="table table-striped table-bordered">

        <thead class="thead-dark">

            <tr>

                <th>Tipo</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Safra</th>

            </tr>

        </thead>

        <tbody>

            {% for custos in custos %}

            <tr>

                <td>{{ custos.tipo }}</td>
                <td>{{ custos.valor }}</td>
                <td>{{ custos.data }}</td>
                <td>{{ custos.safra }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>