<div class="container mt-5">

    <h2 class="mb-4">
        Tabela de Produtividade
    </h2>

    <table class="table table-striped table-bordered">

        <thead class="thead-dark">

            <tr>

                <th>Quantidade Colhida</th>
                <th>Área</th>
                <th>Safra</th>

            </tr>

        </thead>

        <tbody>

            {% for produtividades in produtividades %}

            <tr>

                <td>{{ produtividades.quantidade_colhida }}</td>
                <td>{{ produtividades.area }}</td>
                <td>{{ produtividades.safra }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>