{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">
        Tabela de Propriedades
    </h2>

    <table class="table table-striped table-bordered">

        <thead class="thead-dark">

            <tr>

                <th>Nome</th>
                <th>Localização</th>
                <th>Tamanho Área</th>
                <th>Produtor</th>

            </tr>

        </thead>

        <tbody>

            {% for propriedade in propriedades %}

            <tr>

                <td>{{ propriedade.nome }}</td>
                <td>{{ propriedade.localizacao }}</td>
                <td>{{ propriedade.tamanho_area }}</td>
                <td>{{ propriedade.produtor }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}