<div class="container mt-5">

    <h2 class="mb-4">
        Tabela de Safras
    </h2>

    <table class="table table-striped table-bordered">

        <thead class="thead-dark">

            <tr>

                <th>Ano</th>
                <th>Produtividade</th>
                <th>Área Plantada</th>
                <th>Propriedade</th>

            </tr>

        </thead>

        <tbody>

            {% for safras in safras %}

            <tr>

                <td>{{ safras.ano }}</td>
                <td>{{ safras.produtividade }}</td>
                <td>{{ safras.area_plantada }}</td>
                <td>{{ safras.propriedade }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>